
.auto {
 width: 600px;
 margin: 0 auto;
}
.auto>div{
   margin-top: 30px;
}
a {  
  display: inline-block;
  padding: 8px 10px;
   text-decoration: none;
  border-radius:3px;
  cursor: pointer;
  transition: all .3s;
} 
 a:hover {
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
        
 .box1 {
            background-color: #009688;
            color: #fff;
}       
        
.box2 {
            background-color: #ff9800;        
}
        
  .box3 {
            background-color: #ffeb3b;      
}
        
  .box4 {
            background-color: #f44336;
            color: #fff;      
}
        
 .box5 {
            background-color: #4CAF50;
            color: #fff;       
 }

