 body {
            font-family: arial;
        }
.auto {
    width:600px;
    margin: 0 auto;
}
.auto>table {
    margin-top: 30px;
}
table {
 border-collapse: collapse;
     border-spacing: 0;
      width: 100%;
     border: 1px solid #ccc;
}
  table tr {
            border-bottom: 1px solid #ddd;
            text-align: left;
 }
 table tr:nth-child(even) {
            background-color: #f1f1f1;
}
table td {
            padding: 8px 8px;
 }
.table1 th {
   
    background-color: #4CAF50;
    color:#fff;
    padding: 8px 8px;
    font-weight: bold;
}

 .table2 {
            border: none;
 }
  
.table2 th {
            background-color: #fff;
            color: #000;
}