.auto {
    width:600px;
    margin:0 auto;
}
.auto>div {
    margin-top: 30px;
}
.card {
    width:300px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)!important;
}
.card>img {
     width: 100%;
     opacity: 0.75;
}
.card .detail1,.detail2 {
    padding: 1px 16px;
}
.card .detail1 h3 {
    font-size: 20px;
    font-weight: bold;
     margin: 10px 0;
}
        
.card .detail1 p {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
}
 .card .detail2 {
            text-align: center;
}